body {
    text-align: center;
    background-image: linear-gradient(to right, gray, lightgray, gray);
}

.form-group,
small,
.btn {
    text-align: left;
}

.jumbotron {
    margin: 30px auto 20px auto;
    background-image: url("../images/train-tracks.jpg");
    background-color: #cccccc;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.section1 {
    margin-bottom: 30px;
}

.table,
.btn {
    margin-bottom: 20px;
}

.form-group {
    color: #495057;
}

/* Media query so users do not have to scroll across table on small viewports */
@media only screen and (max-width: 600px) {
    .table-responsive {
        font-size: 70%;
    }
}